@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nunito+Sans:wght@300&family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
      
}

body * {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;;
}

/* section, footer {
    padding: 30px 5vw;
}  */

body {
    margin: 0;
}

footer {
    padding: 30px;
}

#about {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

#projects {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(232, 232, 232);
}

#contact {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 30px;
    padding-bottom: 10vw;
}


header {
    background-color: aliceblue;
    background-image: linear-gradient(to right, rgb(63, 101, 205), rgb(97, 186, 182)); 
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    color: white;
    top: 0;
    padding-left: 2px;
    padding-right: 40px;
    /* border: solid 1px black; */
    align-self: flex-end;
} 

ul {
    list-style: none;
    display: flex;
    width: 260px;
    justify-content: space-between;
}

li {
    color: white;
}

h1 {
    color: white;
    /* flex-direction: row; */
}

a, a:link, a:hover, a:visited {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

#profile-pic {
    border-radius: 100px;
    /* margin-top: auto;
    margin-bottom: auto; */
    width: 200px;

}

p {
    font-family: 'Quicksand', sans-serif;
}

#point {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px black; */
    flex-direction: column;
    flex-wrap: wrap;
}

.project-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#flexleft {
    width: 50%;
    /* border: 2px solid green; */
    display: flex;
}

#flexright {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
}

.card {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    padding: 30px 5vw;
}

img { 
    max-height: 200px;
    max-width: 300px;
}

footer {
    background-color: rgb(232, 232, 232);
    text-align: center;
}

#submit {
    background-color: teal;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
}

 #name {
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    color: darkgrey;
    padding: 10px;
    min-width: 180px;
    min-height: 40px;
}

#email {
    background-color: lightgrey;
    border-radius: 5px;
    border: none;
    color: darkgrey;
    padding: 10px;
    min-width: 300px;
    min-height: 40px;
}

#message {
    background-color: lightgrey;
    border-radius: 5px;
    border: none;
    color: darkgrey;
    padding: 10px;
    min-width: 500px;
    min-height: 145px;

}

#formfill {
    display: flex;
 }


.contact-info {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
 }

.contact-details {
    display: flex;
    justify-content: space-between;
 }

form {
    display: grid;
    grid-template-rows: 50px 10px 50px 50px 50px 10px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 10px;
 }

#rowbutton {
    grid-row-start: 7;
}

#rowmess {
    grid-row-start: 3;
    grid-row-end: 6;
    /* justify-items: stretch; */
}

#rowemail {
    grid-column-start: 5;
}

#begincontact {
    padding-bottom: 25px;
}