@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    /* body tag is a grid */
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
}
aside {
    background-color: #000;
    grid-column-start: 1;
}
header {
    background: #111;
    position: sticky;
    top: 0px;
}

/* Uncomment to see borders:  */
/* header, nav, article {
    border: solid 5px teal;
    padding: 10px;
}
main {
    border: solid 5px hotpink;
    padding: 10px;
} */

main {
    background: #111;
    grid-column-start: 2;
    overflow-y: auto;
    z-index: 3;
}

footer {
    background: #222;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

#sidebar {
 display: grid;
 grid-template-rows: 7vw 4vw 4vw 4vw;
 padding-top: 2vh;
 padding-left: 40px;
}

#sidebar a {
    display: flex;
    align-items: center;
    padding: 15px;

}

 a > i{
    padding-right: 2vh;
 }

 .selected {
    border-left: solid seagreen 3px;
 }




/********************************/
/* Part B: Header & Nav Styling */
/********************************/

header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: .5vw;
    padding-right: 2vh;
}

 nav {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: smaller;
    padding-bottom: 2vh;
    padding-top: 3vh;
    padding-left: 1vh;
}

nav > a {
    padding: 2vh;
} 

#profile {
    outline: rgb(38, 38, 38) solid 1px;
    margin: 1vh;
    margin-top: 3vh;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(38, 38, 38);

}

#upgrade {
    outline: white solid 1px;
    margin: 1vh;
    margin-top: 3vh;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.selected2 {
    border-bottom: solid seagreen 3px;

}

#albums:hover{
    border-bottom: solid seagreen 3px;
}

#playlist:hover{
    border-bottom: solid seagreen 3px;
}

#home:hover{
    font-weight: bold;
}

#search:hover{
    font-weight: bold;
}


/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here.
   For the desktop view, there should be 5 cards per row.
*/

#featured-content {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    row-gap: 20px;
    column-gap: 20px;
}

.artist-card {
    background-color: rgb(38, 38, 38);
    padding: 15px;
    font-size: 7pt;
    border-radius: 30px;

}

img {
    max-width: 80%;
    max-width: 80%;
    border-radius: 500px;
}

.artist-card > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 1vw;
}

.play-button {
    display: none;
}

.artist-card:hover .play-button{
    display: inline-block;
}

button {
    background-color: seagreen;
    padding: 15px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 200%;
    color: white;
    border: none;
}

p {
    font-size: 10pt;
}

.card-footer {
    display: flex;
    
}


/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media screen and (max-width: 1000px) {
    /* 
        Tablet Display: 3 cards per row!
    
    */

    #featured-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
    }

    .artist-card {
        max-width: 30%;
        max-height: 30%;
    }

    footer {
        margin-bottom: 0;
    }
    
}


@media screen and (max-width: 700px) {
    /* Mobile Display 
        * 2 cards per row
        * The aside panel and "Upgrade" button should no longer be visible.
        * There should only be a 1-column layout.
    */

    #container {
        display: flex;
        flex-direction: column;
    }

    #upgrade {
        display: none;
    }

    #sidebar {
        display: none;
    }

    #featured-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
    }

    .artist-card {
        min-width: 40%;
        max-height: 40%;
    }


}


